# Create the file and add common Python/Jupyter ignores
cat <<EOF > .gitignore
# macOS metadata
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env
myr_simulation/

# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

*.json

EOF